<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="grouping">
  <test  name="Testing">
  <groups>
  <define name="dailybuild">
  <include name="smoke"/>
  <include name="Regression"/>
  </define>
    <define name="weeklybuild">
  <include name="smoke"/>
  <include name="Regression"/>
  <include name="functional"/>
  </define>
  <run>
 
  <include name="weeklybuild"/>
  </run>
  </groups>
    <classes>
       <class name="com.sam.grouping.Test1"/>      
      <class name="com.sam.grouping.Test2"/>

     
    </classes>
  </test> 
  <test  name="Testing2">
   <classes>
       <class name="com.sam.grouping.Test1"/>      
      <class name="com.sam.grouping.Test2"/>

     
    </classes>
    </test>
  
</suite> 
